@using CarInsurance.Models

@model List<Admin>



<h2>Admin</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Base Quote</th>
        <th>Years <=18</th>
        <th>Years >=26</th>
        <th>Years 19-25</th>
        <th>Car Year   < 2000 > 2015</th>
        <th>Porche</th>
        <th>Porche Carrera</th>
        <th>Dui</th>
        <th>Speeding Tichets Quantity</th>
        <th>Speeding Tickets</th>
        <th>Coverage</th>
        <th>Total Quote</th>
    </tr>

    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseQuote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinusEighteen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverTwentySix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BetwNineteenAndTwentySix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarYearBeforeOver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarMakePorche)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModelCarrera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DUIYes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeedingTicketsQuantityYes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeedingTicketsQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverageTypeYes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalQuote)
                </td>
            </tr>
        }*@


    @foreach (var admin in Model)
    {
        <tr>
            <td>
                @admin.FirstName
            </td>
            <td>
                @admin.LastName
            </td>
            <td>
                @admin.EmailAddress
            </td>
            <td>
                @admin.BaseQuote
            </td>
            <td>
                @admin.MinusEighteen
            </td>
            <td>
                @admin.OverTwentySix
            </td>
            <td>
                @admin.BetwNineteenAndTwentySix
            </td>
            <td>
                @admin.CarYearBeforeOver
            </td>
            <td>
                @admin.CarMakePorche
            </td>
            <td>
                @admin.CarModelCarrera
            </td>
            <td>
                @admin.DUIYes
            </td>
            <td>
                @admin.SpeedingTicketsQuantityYes
            </td>
            <td>
                @admin.SpeedingTicketsQuantity
            </td>
            <td>
                @admin.CoverageTypeYes
            </td>
            <td>
                @admin.TotalQuote
            </td>
        </tr>
    }

</table>